.user-info {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-info h1 {
  font-size: 32px;
}

.user-info p {
  color: #666;
  line-height: 24px;
  margin-top: 5px;
}

.user-info span {
  color: #666;
}

.user-info a {
  color: #069;
}
