header {
    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 3;
    box-shadow: 0 3px 5px 2px rgba(143, 143, 143, 0.3);
    color: white;
    background: linear-gradient(45deg, #2980B9 30%, #6DD5FA 80%);
}