.form-control {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

.save-button {
  align-self: flex-end;
}

.card-content {
  padding: 15px;
}

.field {
  width: 100%;
}
